<!-- Main Body -->
<div class="container">
   <!-- Main Left side -->
   <div class="main-left-side">
      <!-- The Article -->
      <div class="artcl-main float-width">
         
         <div class="artcl-body float-width">
            <h2><%= @article.title %></h2>
            <h5>
               <span><i class="fa fa-user"></i><%= @article.author %></span>
               <span><i class="fa fa-clock-o"></i><%= @article.created_at %></span>
               <span><i class="fa fa-comment-o"></i><%= @article.comments.count %></span>
            </h5>
            <article class="float-width articl-data">
            <%= image_tag(@article.pictures.first.image_url(:post_image), alt: "Blog") %>
               <p>
                  <%= @article.content %>
               </p>
               <p>
                  <%= link_to "ver slide", article_picture_path(article_id: params[:id], picture_id: @article.pictures.first.id) %>
               </p>                  
            </article>
         </div>
      </div>
      <!-- The Article Social Media Share -->
      <div class="artcl-scl float-width">
         <div class="lefty artcl-tags">
            <h3>Tags: <%= raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> </h3>

         </div>
         <div class="righty artcl-shr">
            <ul>
               <li>
                  <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
               </li>
               <li>
                  <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count"></div>
               </li>
               <li>
                  <a href="whatsapp://send" data-text="Take a look at this awesome website:" data-href="" class="wa_btn wa_btn_s" style="display:none">Share</a>
               </li>
            </ul>
         </div>
      </div>
      <!-- Article Comments Section -->
       <!-- render "comments" %> -->
      <!-- related Articles  -->
      <div class="artcl-reltd float-width">
         <h3 class="sec-title">POSTS RELACIONADOS</h3>
         <% @article.category_articles.last(4).each do |article| %>
         <div class="reltd-sngl">
            <%= image_tag(article.pictures.first.image_url(:small), alt: "Blog") %>
            <div class="reltd-sngl-txt">
               <h3><%= article.title %> </h3>
               <p><i class="fa fa-clock-o"></i><%= article.created_at %></p>
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>
