      <!-- Main Home Layout start -->
      <!-- Top toolbar -->
      <!-- render "top_logo_menu" -->
      <!-- Main Menu -->
      <!-- render "main_menu"-->
      <!-- Home Slider and Big news blocks -->
      <%= render "top_deals" %>
      <!-- News Ticker -->
      <%= render "ticker" %>
      <!-- Main Body -->
      <div class="container">
         <!-- Main Left side -->
         <div class="main-left-side">
            <!-- Top News Section -->
            <%= render "top_news" %>
            <!-- Sec 1 -->
            <%= render "music_news" %>
            <!-- News slider -->
            <%= render "slide" %>

         </div>
         <!-- Main Right side -->
         <%= render "main_right_side" %>
      </div>
      <!-- Footer -->
         <!-- render footer -->
      <!-- Main Home Layout Ends -->

